# ignore all files with dot name in its first character
.*
# except .gitignore itself
!.gitignore
!.gitmodules
# ignore all directories and its files
# /*/
# except files in current directory
# !*/
# except client, database, and server
test.kv
test.kv-shm
test.kv-wal
user.kv
user.kv-shm
user.kv-wal
.vscode/settings.json
database/
serv/database/
serv/library/*/
serv/library/*/
client/*