# ignore all files with dot name in its first character
.*
# except .gitignore itself
!.gitignore
# ignore all directories and its files
# /*/
# except files in current directory
# !*/
# except client, database, and server
!serv/.gitkeep
!serv/library/.gitkeep
client/
test.kv
test.kv-shm
test.kv-wal
user.kv
user.kv-shm
user.kv-wal
.vscode/settings.json
database/
serv/database/
serv/forclient/
serv/library/*/
serv/library/*/
serv/library/importir
serv/library/tofromblob
serv/logger/
serv/router/